{
	"presets": [
		["@babel/preset-env", { "targets": "> 0.25%, not dead" }],
		"@babel/preset-typescript"
	],
	"plugins": [
		"@babel/plugin-transform-classes",
		"@babel/proposal-class-properties",
		"@babel/plugin-transform-spread",
		"@babel/proposal-object-rest-spread",
		"@babel/plugin-proposal-private-property-in-object",
		"@babel/plugin-proposal-private-methods",
		"@babel/plugin-transform-arrow-functions"
	]
}
