.wpgly-wps--logger
{
	display: block;
	width: 100%;
	background-color: #FFF;
	color: #000;
	@include border-radius(6px);
	margin: 12px 0;
	padding: 18px;
	max-height: 850px;
	overflow-y: scroll;

	pre
	{
		font-family: monospace;
		white-space: pre-wrap;
		word-wrap: break-word;
		display: table;
		width: 100%;
		margin: 0;
	}
}