

.wpgly-wps-notice-box
{
	display: table;
	width: 100%;
	padding: 16px;
	background-color: #FFF;
	color: #000;
	margin: 12px 0;
	@include border-radius(12px);
	@include box-shadow(4px, 4px, 16px, rgba(0,0,0,0.1));
	@include box-sizing(border-box);

	a
	{
		font-weight: bold;
	}
	
	p
	{
		margin: 1em 0;

		&:last-child
		{
			margin: 1em 0 0;
		}
	}
	
	.wpgly-wps--title
	{
		margin: 0 0 20px;
	}

	&.wpgly-neutral
	{
		background: #ffffff;
	}

	&.wpgly-success
	{
		background: #1fd64f;
		color: #272727;
		
		a
		{
			color: #000;
		}
	}

	&.wpgly-action
	{
		background: #4e4eef;
		color: #ffffff;

		.wpgly-wps--title, a { color: #FFF; }
	}

	&.wpgly-accent
	{
		background: #ff188d;
		color: #ffffff;

		.wpgly-wps--title, a { color: #FFF; }
	}

	&.wpgly-warning
	{
		background-color: #ff5e21;
		color: #fff;

		.wpgly-wps--title, a { color: #FFF; }
	}

	&.wpgly-error
	{
		background: #e81d1d;
		color: #ffffff;

		.wpgly-wps--title, a { color: #FFF; }
	}
}