.wpgly-wps--navigator
{
	display: table;
	margin: 18px 0;
	width: 100%;

	ul 
	{
		margin: 0;
		padding: 0;
		list-style: none;
		display: table;
		margin: 0 auto;
	}

	li
	{
		display: inline-table;
		margin: 0 6px 0 0;
		padding: 0;
		white-space: nowrap;

		&:last-child
		{ margin-right: 0; }

		a
		{
			display: inline-table;
			margin: 0;
			padding: 0;
			white-space: nowrap;
			padding: 12px;
			text-decoration: none;
			color: getColor(text, disabled);
			position: relative;
			@include transition(color .2s, background-color .2s);
			@include border-radius(6px);

			&.current
			{
				background-color: white;
				color: #000;
			}

			&:hover
			{
				background-color: rgba(255,255,255,0.5);
			}
		}
	}
}