@use "sass:math";

.pgly-wps--settings {
	.pgly-wps--group {
		padding: 12px;
		border-radius: 12px;
		border: 1px rgba(#000, 0.24) dashed;
		display: table;
		width: 100%;
	}

	.pgly-wps--field {
		.pgly-wps--label {
			font-size: 14px;
			font-weight: bold;
			margin-bottom: 4px;
			display: block;

			&.hidden {
				margin: 22px 0;
			}
		}

		.pgly-wps--description {
			font-size: 13px;
			margin-top: 4px;
			color: $grey;
		}

		&.pgly-wps--error {
			.pgly-wps--label {
				color: $danger;
			}

			.pgly-wps--message {
				padding: 6px 8px;
				display: inline-table;
				font-size: 12px;
				color: $white;
				background-color: $danger;
				margin: 6px 0;
				border-radius: $radius-small;
			}

			input,
			select,
			.pgly-wps--select .selected,
			textarea {
				border-color: $danger;
			}
		}

		.pgly-wps--tagged {
			input,
			select,
			.pgly-wps--select .selected,
			textarea {
				padding-bottom: 18px;
			}

			.pgly-wps--tag {
				position: absolute;
				left: 14px;
				bottom: 6px;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: bold;
			}
		}

		input,
		select,
		.pgly-wps--select .selected,
		textarea {
			line-height: 2;
			min-height: 30px;
			font-size: 14px;
			background-color: #fff;
			position: relative;
			width: 100%;
			max-width: 100%;
			padding: 8px 12px;
			border: 2px solid;
			border-color: $white;
			border-radius: $radius-small;
			box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
			transition: border-color 0.5s, box-shadow 0.5s;

			&:focus {
				border-color: $accent;
			}

			&::placeholder {
				color: $grey-light;
				font-weight: $weight-semibold;
				opacity: 1;
			}
		}

		input[type="checkbox"],
		input[type="radio"] {
			cursor: pointer;
			height: 12px;
			width: 12px;
			min-height: unset;
		}

		.pgly-wps--checkbox {
			display: table;
			cursor: pointer;

			.pgly-wps--icon {
				position: relative;
				display: inline-table;
				width: 18px;
				height: 18px;
				margin-right: 6px;
				background-color: $white;
				vertical-align: middle;
				border-radius: $radius-small;

				&::before {
					content: "";
					position: absolute;
					width: 10px;
					height: 10px;
					top: 50%;
					left: 50%;
					margin-top: -5px;
					margin-left: -5px;
					background-color: transparent;
					border-radius: $radius-small;
					transition: background-color 0.2s;
				}
			}

			.pgly-wps--placeholder {
				display: inline-table;
				font-size: 14px;
				vertical-align: middle;
			}

			&.pgly-disabled--state {
				color: $grey-light;

				.pgly-wps--checkbox-icon {
					background-color: $grey-light;
				}
			}

			&.pgly-checked--state {
				.pgly-wps--icon::before {
					background-color: $accent;
				}
			}
		}

		.pgly-wps--select {
			position: relative;

			.pgly-wps--arrow {
				display: inline-block;
				position: absolute;
				width: 28px;
				height: 28px;
				right: 8px;
				transition: transform 0.2s;
			}

			.pgly-wps--spinner {
				display: none;
				position: absolute;
				width: 18px;
				height: 18px;
				top: 50%;
				right: 12px;
				transform: translateY(-50%);
			}

			.selected {
				cursor: pointer;
				user-select: none;
				padding-right: 42px;

				&.open {
					border-bottom: unset;
					border-radius: 6px 6px 0px 0px;
					border-right: 2px solid $accent;
					border-left: 2px solid $accent;
					border-top: 2px solid $accent;

					svg {
						transform: rotate(180deg);
					}
				}
			}

			.pgly-loading--state {
				background-color: #e4e4e4;
				border-color: #e4e4e4;

				.pgly-wps--arrow {
					display: none;
				}

				.pgly-wps--spinner {
					display: inline-block;
				}
			}

			.empty {
				color: rgba(0, 0, 0, 0.52) !important;
			}

			.items {
				color: $white;
				overflow-x: hidden;
				overflow-y: auto;
				border-top: 1px solid $grey-lighter;
				border-right: 2px solid $accent;
				border-left: 2px solid $accent;
				border-bottom: 2px solid $accent;
				position: absolute;
				background-color: $white;
				max-height: 46px * 4;
				left: 0;
				right: 0;
				z-index: 2;
				border-radius: 0px 0px 6px 6px;
				scrollbar-width: 2px;
				scrollbar-color: $grey-light transparent;

				&::-webkit-scrollbar {
					width: 2px;
				}

				&::-webkit-scrollbar-track {
					background: transparent;
				}

				&::-webkit-scrollbar-thumb {
					background-color: $grey-light;
				}

				.item,
				.placeholder {
					user-select: none;
					line-height: 2;
					min-height: 46px;
					font-size: 14px;
					position: relative;
					width: 100%;
					max-width: 100%;
					padding: 8px 12px;
				}

				.item {
					color: $black;
					cursor: pointer;

					&.current {
						background-color: rgba(255, 24, 141, 0.1);
					}

					&:hover {
						color: $white;
						background-color: $accent;
					}
				}

				.placeholder {
					color: rgba(0, 0, 0, 0.52);

					&.clickable {
						cursor: pointer;

						&:hover {
							color: $white;
							background-color: $accent;
						}
					}
				}
			}

			.hidden {
				display: none;
			}
		}
	}
}
