.wpgly-wps--row
{
	display: flex;
	flex-wrap: wrap;
	
	.wpgly-wps--column 
	{
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 1;
		padding: 10px;
	
		&:first-child
		{ padding-left: 0; }
	
		&:last-child
		{ padding-right: 0; }
		
	}

	.wpgly-wps--col-1 
	{
		max-width: calc(100% / 12);
	}

	.wpgly-wps--col-2 
	{
		max-width: calc(100% / 12 * 2);
	}

	.wpgly-wps--col-3 
	{
		max-width: calc(100% / 12 * 3);
	}

	.wpgly-wps--col-4 
	{
		max-width: calc(100% / 12 * 4);
	}

	.wpgly-wps--col-5 
	{
		max-width: calc(100% / 12 * 5);
	}

	.wpgly-wps--col-6 
	{
		max-width: calc(100% / 2);
	}
}

@media screen and (max-width: 768px) 
{
	.wpgly-wps--row
	{
		.wpgly-wps--column
		{
			min-width: 100%;
			width: 100%;
			padding: 5px !important;
		}
	}
}