/**
	Color
	@autor Caique Araujo <caique@piggly.com.br>
	@version 1.0.0
 */

$colors:
(
	pallete:
	(   
		"primary": #4e4eef,
		"accent": #ff188d,
		"secondary": #7B2BBD,
		"warning": #ff5e21,
		"success": #16C784,
		"error": #e81d1d,
		"featured": #F5E60D,
		"disabled": #e7e7f3,
		"dark": #161616,
		"mid": #262624,
		"light": #ffffff,
		"background": #ffffff,
		"header-background": #ffffff,
		"link": #262624,
		"link-active": #4e4eef
	),
	text:
	(
		"primary": #161616,
		"secondary": #030303,
		"neutral": #7A7A7A,
		"disabled": #9497a5,
	),
	social:
	(
		"facebook": #3b5999,
		"twitter": #55acee,
		"google": #dd4b39,
		"linkedin": #0077B5,
		"skype": #00AFF0,
		"whatsapp": #25D366,
		"instagram": #e4405f,
		"youtube": #cd201f
	)
);

/** Get the color by using the pair with pallete name and color name **/
@function getColor ( $palette, $color )
{     
    @if map-has-key ( $colors, $palette )
    {
        @if map-has-key ( map-get( $colors, $palette ), $color )
        { @return map-get( map-get( $colors, $palette ), $color ); }
    }
    
    @warn "Variable `#{$color}` not found in $colors.";
    @return null;
}

/** Generate the helper classes **/
@mixin genColors
{
	$p: map-get( $colors, 'pallete' );
	
	@each $color, $value in $p
	{
		.wpgly-wps-c-#{$color}
		{ color: #{$value}; }

		.wpgly-wps-c-#{$color}--bg
		{ background-color: #{$value}; }
	}
    
	$p: map-get( $colors, 'text' );
	
	@each $color, $value in $p
	{
		.wpgly-wps-c--text-#{$color}
		{ color: #{$value}; }
	}
        
	$p: map-get( $colors, 'social' );
	
	@each $color, $value in $p
	{
		.wpgly-wps-c--social-#{$color}
		{ color: #{$value}; }

		.wpgly-wps-c--social-#{$color}--bg
		{ background-color: #{$value}; }
	}
}