/**
	Typo
	@autor Caique Araujo <caique@piggly.com.br>
	@version 1.0.0
 */

$typos:
(
	fonts:
	(
		primary: "Montserrat, -apple-system,BlinkMacSystemFont,\"Segoe UI\",Roboto,\"Helvetica Neue\",Arial,\"Noto Sans\",sans-serif",
	),
	weights:
	(
		regular: 400,
		bold: 600,
		black: 900
	),
	components:
	(
		overline: 10px,
		button: 17px,
		caption: 12px,
		display-1: 84px,
		display-2: 78px,
		display-3: 64px,
		display-4: 54px,
		headline-1: 54px,
		headline-2: 48px,
		headline-3: 34px,
		headline-4: 24px,
		headline-all: 20px,
		subtitle-1: 18px,
		subtitle-2: 16px, 
		body-1: 18px, 
		body-2: 16px
	),
	sizes:
	(
		xxx-small: 12px,
		xx-small: 13px,
		x-small: 14px,
		small: 16px,
		regular: 18px,
		medium: 20px,
		x-medium: 24px,
		large: 34px,
		x-large: 48px,
		xx-large: 60px, 
		xxx-large: 96px
	)
);

/** Obtém uma tipografia utilizando o par **/
@function getTypo ( $type, $name )
{     
	@if map-has-key ( $typos, $type )
	{
		@if $type == 'fonts'
		{
			@if map-has-key ( map-get( $typos, $type ), $name )
			{ @return unquote( map-get( map-get( $typos, $type ), $name ) ); }
		}
		@else
		{
			@if map-has-key ( map-get( $typos, $type ), $name )
			{ @return map-get( map-get( $typos, $type ), $name ); }
		}
	}
	
	@warn "Varíavel `#{$key}` desconhecida em $typos.";
	@return null;
}

/** Mixin para gerar as classes tipograficas **/
@mixin genTypo
{
	$f: map-get( $typos, 'fonts' );
	
	@each $typo, $value in $f
	{
		.wpgly-wps-t--#{$typo}
		{ font-family: #{$value}; }
	}
	
	$w: map-get( $typos, 'weights' );
	
	@each $typo, $value in $w
	{
		.wpgly-wps-t--weight-#{"" + $typo}
		{ font-weight: #{$value}; }
	}
	
	$s: map-get( $typos, 'sizes' );
	
	@each $typo, $value in $s
	{
		.wpgly-wps-t--size-#{$typo}
		{ font-size: #{$value}; }
	}

	.wpgly-wps-t--center
	{ text-align: center; }

	.wpgly-wps-t--left
	{ text-align: left; }

	.wpgly-wps-t--right
	{ text-align: right; }
}