.wpgly-wps--title
{
	margin: 20px 0;
	position: relative;
	color: #000;
	font-size: 16px;
}

h1.wpgly-wps--title
{
	font-size: 24px;
}

h2.wpgly-wps--title
{
	font-size: 20px;
}

h3.wpgly-wps--title
{
	font-size: 18px;
}

h5.wpgly-wps--title
{
	font-size: 14px;
}

.wpgly-wps--space
{
	margin: 20px 0;
}

.wpgly-wps--required
{
	background: #e81d1d;
   color: #ffffff !important;
	padding: 3px 5px 2px 5px;
	margin: 0 1px;
	font-size: 13px;
}

.wpgly-wps--section-wrapper
{
	margin: 20px 0;
	padding: 0 20px;
	border: 1px solid getColor(text,disabled);
	@include border-radius(12px);
}

.wpgly-align--left
{
	text-align: left;
}

.wpgly-align--right
{
	text-align: right;
}

.wpgly-align--center
{
	text-align: center;
}

.wpgly--wrapper
{
	position: relative;
}