.pgly-wps--settings {
	.pgly-wps--media-wrapper {
		padding: 12px;
		border-radius: 12px;
		border: 1px rgba(#000, 0.24) dashed;
		display: table;
		width: 100%;

		img {
			width: 100%;
			height: auto;
		}

		.pgly-wps--placeholder {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			font-size: 14px;
			color: rgba(#000, 0.54);
			z-index: -1;
			margin-top: -2px;
		}

		.pgly-wps--action-bar {
			margin-top: 12px;

			button {
				margin-bottom: 0;
			}
		}
	}
}
