.pgly-wps--settings {
	.pgly-wps--media-wrapper {
		padding: 12px;
		border-radius: 12px;
		border: 1px rgba(#000, 0.24) dashed;
		display: table;
		width: 100%;

		.pgly-wps--images {
			display: flex;

			.pgly-wps--image {
				width: 100px;
				height: 100px;
				border-radius: 12px;
				border: 1px rgba(#000, 0.24) dashed;
				display: inline-flex;
				margin: 3px;
				background-position: center;
				background-size: cover;
			}

			button {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}

		img {
			width: 100%;
			height: auto;
			border-radius: 12px;
		}

		.pgly-wps--placeholder {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			font-size: 14px;
			color: rgba(#000, 0.54);
			z-index: -1;
			margin-top: -2px;
		}

		.pgly-wps--action-bar {
			margin-top: 12px;

			button {
				margin-bottom: 0;
			}
		}
	}
}
